.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.btnNavbar{
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 20px;
}
.btnLogin{
  margin-right: 20px;
}
